/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.cache
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/src/.deps/
/src/.dirstamp
/src/webkit-efl-sample
*.o
/*.tar.gz
/*.tar.xz
